@tailwind base;
@tailwind components;
@tailwind utilities;




:root{

  --title-font-size:1.85rem;
  --title-font-family: 'poppins', sans-serif  ;
  --subtitle-font-size: 1rem;
  --body-font-family:'Open Sans', sans-serif ;

}

body h1{
  font : 700 2rem var(--body-font-family);
 
  
  -webkit-font-smoothing:antialiased;
}


.avatar-image{
  width:4rem;
  height:4rem;
  clip-path: circle;
}